<div>
  <h1 class="text-3xl font-bold bg-blue-950 p-8 text-gray-50">Application des interventions</h1>
</div>

<div class="container mx-auto my-4">
  <app-intercession-tools/>
</div>

<div class="container mx-auto">
  <section class="flex w-full">
    <div class="m-2 w-full">
      <app-intercession-map/>
    </div>
    <div class="m-2 w-full">
      <app-intercession-edit/>
    </div>
  </section>
  <section class="m-2">
    <h2 class="text-xl py-4 text-blue-800 font-bold">
      Liste des interventions :
    </h2>
    <div>
      <app-intercession-table/>
    </div>
  </section>
</div>

